.container {
  max-width: 900px;
  margin: auto;
  font-family: Arial;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.top-product {
  background: #ffe8a1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #4a7dfc;
  color: white;
  border: none;
  border-radius: 5px;
}

.search-results {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
}

.prediction {
  background: #d7f0f7;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}